APP_NAME=rezervacije-parkiranja
LOG_LEVEL=INFO
PORT=8000
DATABASE_URL=sqlite+aiosqlite:///./data/reservations.db

BROKER_ENABLED=true
BROKER_REQUIRED=false
ACTIVEMQ_HOST=localhost
ACTIVEMQ_PORT=61613
ACTIVEMQ_USER=admin
ACTIVEMQ_PASSWORD=admin
ACTIVEMQ_DESTINATION=/topic/reservations.events
