VITE_API_BASE_URL=/api/web
VITE_HEALTH_PATH=/health
VITE_GEOCODE_ENABLED=true
VITE_GEOCODE_ENDPOINT=https://nominatim.openstreetmap.org/search
VITE_GEOCODE_COUNTRY_CODES=si

VITE_MFE_AUTH_REMOTE=http://localhost:5174/assets/remoteEntry.js
VITE_MFE_PARKING_REMOTE=http://localhost:5175/assets/remoteEntry.js
VITE_MFE_RESERVATIONS_REMOTE=http://localhost:5176/assets/remoteEntry.js
