APP_NAME=gateway-web
PORT=8090
TIMEOUT_SECONDS=10
CIRCUIT_BREAKER_FAILURE_THRESHOLD=3
CIRCUIT_BREAKER_RECOVERY_TIMEOUT_SECONDS=15
UPORABNIKI_BASE_URL=http://localhost:3000
PARKIRISCA_BASE_URL=http://localhost:8080
REZERVACIJE_BASE_URL=http://localhost:8000
GATEWAY_MOBILE_BASE_URL=http://localhost:8091
